@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Code+Pro&display=swap');

/* Global Styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(18, 18, 18);
  color: #d2d4ed;
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  box-sizing: border-box;
}

section {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.section-title {
  color: #caffd7;
  text-align: center;
  margin-bottom: 0.5rem;
}

.section-text {
  font-size: 13px;
  text-align: left;
}

.section-content h4 {
  color: #98ffd7;
  font-size: 14px;
}

.section-content h3 {
  color: #98ffd7;
  font-size: 21px;
}

.section-content > img {
  width: 120px;
  float: right;
  shape-outside: circle(35%);
}




/* Contact */
.social-icons {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-around;
}

.social-icons img {
  width: 20px;
}

.social-icons img:hover {
  color: #98ffd7;
}



.submit-btn {
  margin-top: 1rem;
  background-color: #333;
  color: #98ffd7;
  padding: 0.5rem 1rem;
  border: 1px solid #98ffd7;
  border-radius: 2px;
  outline: none;
}

.submit-btn:hover {
  background-color: #caffd7;
  color: #333;
  border: none;
}


.navLogo > img,
.single-technology img,
.project-social img,
.article-title img,
.social-icons img,
.navbar img {
  filter: invert(94%) sepia(60%) saturate(554%) hue-rotate(70deg)
    brightness(108%) contrast(101%);
}

.navLogo > img:hover,
.single-technology img:hover,
.project-social img:hover,
.article-title img:hover,
.social-icons img:hover {
  filter: invert(94%) sepia(9%) saturate(931%) hue-rotate(70deg)
    brightness(101%) contrast(103%);
}



@media only screen and (min-width: 769px) {
  body {
    justify-content: center;
  }

  .navLinks {
    max-width: 1000px;
    position: relative;
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    height: auto;
    top: 0;
  }

  .navLinks li {
    width: 150px;
  }

  .toggle {
    display: none;
  }

  section {
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .homePage {
    padding-top: 0;
  }

  .section-center {
    min-height: calc(100vh - 78px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .section-title {
    font-size: 40px;
  }

  .homePage h3 {
    font-size: 32px;
  }

  .about-page .technologies {
    justify-content: left;
  }

  .section-content {
    align-items: center;
    width: 85vw;
  }



  .section-content > img {
    width: 300px;
    shape-outside: circle(30.33% at 150px 105px);
  }



  .technologies p {
    font-size: 16px;
  }


  .article-title h4 {
    font-size: 24px;
  }

  .single-article img {
    width: 30px;
    margin-right: 9px;
    margin-top: 3px;
  }

  .article-text p {
    font-size: 20px;
    margin-left: 39px;
  }

  .single-article {
    margin: 1.5rem 0;
  }

  .btn-blog {
    font-size: 18px;
  }



  /* .section-content p {
    font-size: 16px;
  } */

  .social-icons {
    width: 200px;
    margin: 1rem 0;
  }

  .social-icons img {
    width: 35px;
  }

  #contactForm {
    display: flex;
    justify-content: right;
  }



  /* .contact-form label {
    margin-bottom: 0.35rem;
  } */

  .submit-btn {
    width: 50%;
    margin: 1rem auto;
  }
}
